/* Custom small scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;  /* horizontal scrollbar height */
  width: 6px;   /* vertical scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a3a3a3; /* grey */
  border-radius: 9999px;    /* fully rounded */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #525252; /* darker grey on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* transparent track */
}
